<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <h3>Bienvenido a <%= title %></h3>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/quizes/question">Comience a jugar</a><p>  

<ul>
  <tr>
 <td><img class="imagen" src="images/juancarlos.jpg"></a></td>
</tr>
<tr>
 <td><img class="imagen" src="images/victor.jpg"></a></td>
</tr>
</ul>

<ul>
 <td><a id="autor">Juan Carlos Pages Alvarez</a></td>
</tr>
<tr>
 <td><a id="autor">Victor Manuel Gonzalez Salazar</a></td>
</tr>
</ul>
  </body>
</html>