<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <br>  
   <label for="preg" class="rem">Username:</label>
   <input type="text" id="username" name="user[username]" value="<%= user.username %>"/> <p>
   <br>
   <label for="resp" class="rem">Password:</label>
   <input type="password" id="pass" name="user[password]" /> <p>
   <br>
   <a href="/"><button type="button">Cancelar</button></a>
   <br>
   <input type="submit" value="Enviar">
  </body>
</html>