<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   Crear usuario: <p>

   <form method="post" action="/user" >

   	 <% include _form.ejs %>
   </form>
  </body>
</html>