body                 { background: #333; }

#page-wrap:after     { content: "Smartphone Layout"; }

header               { height: 50px; }
section              { height: 450px;}
h2 span, section h3  { display: none; }
body                 { font-size: xx-large; }
footer, input        { font-size: large; }