<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>

   <p>Añadir pregunta: <p>

    <form method="post" action="/quizes/create"
    enctype="multipart/form-data">
     <% include _form.ejs %>
    </form>
  </body>
</html>